#titre
{
    font-size: xx-large;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    text-align: center;
    color: blue;
    background-color: lightgrey;
    width: 400px;
    padding: 30px;
     
  width: 700px; 
    margin: 0 auto; 
   
}

p 
{
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

h2
{
    color: lime;
}

ol

{
    box-shadow: 6px 6px 6px black;
}
