#titre
{
    font-size: xx-large;
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    text-align: center;
    color: lime;
    background-color: black;
    width: 400px;
    padding: 30px;
     
  width: 700px; 
	margin: 0 auto; 
   
}

p
{
	font-family: arial;
}