
<img src="enceinte.jpg" style="width:304px;height:228px;">

<form name="1">
  Buy 
  <select name=amount>
    <option>1
    <option>2
    <option>3
    <option>4
    <option>5
    <option>6
    <option>7
    <option>8
    <option>9
  </select>
  copies at
  <select name=price>
    <option value="177">$177
    
  </select>
  each.
  <p>
  <table>
    <tr><td>
      Total cost:</td><td><input type=text name=total size=8>
    </td></tr>
    <tr><td>
      Sales tax:</td><td><input type=text name=tax size=8>
    </td></tr>
    <tr><td>
      Amount due:</td><td><input type=text name=due size=8>
    </td></tr>
  </table>
  <p>
  <input type=button value="How much would it cost?" onClick="calculate1(this.form);"> 
  <input type=button value="Add to chart" onClick="addChart1(this.form)">

 
</form>




<img src="mp3.jpg" style="width:304px;height:228px;">


<form name="2">
  Buy 
  <select name=amount>
    <option>1
    <option>2
    <option>3
    <option>4
    <option>5
    <option>6
    <option>7
    <option>8
    <option>9
  </select>
  copies at
  <select name=price>
    <option value="55">$55
    
  </select>
  each.
  <p>
  <table>
    <tr><td>
      Total cost:</td><td><input type=text name=total size=8>
    </td></tr>
    <tr><td>
      Sales tax:</td><td><input type=text name=tax size=8>
    </td></tr>
    <tr><td>
      Amount due:</td><td><input type=text name=due size=8>
    </td></tr>
  </table>
  <p>
  <input type=button value="How much would it cost?" onClick="calculate1(this.form);"> 
  <input type=button value="Add to chart" onClick="addChart1(this.form)">
 
</form>


<img src="ecouteurs.jpg" style="width:304px;height:228px;">

<form name="3">
  Buy 
  <select name=amount>
    <option>1
    <option>2
    <option>3
    <option>4
    <option>5
    <option>6
    <option>7
    <option>8
    <option>9
  </select>
  copies at
  <select name=price>
    <option value="80">$80
    
  </select>
  each.
  <p>
  <table>
    <tr><td>
      Total cost:</td><td><input type=text name=total size=8>
    </td></tr>
    <tr><td>
      Sales tax:</td><td><input type=text name=tax size=8>
    </td></tr>
    <tr><td>
      Amount due:</td><td><input type=text name=due size=8>
    </td></tr>
  </table>
  <p>
  <input type=button value="How much would it cost?" onClick="calculate1(this.form);"> 
  <input type=button value="Add to chart" onClick="addChart1(this.form)">
  
 
</form>





<script src="exercise 2.js"></script>